<div>
  <div class="header container-fluid hidden-xs">
    <ul class="nav">
      <li> <a href="# "> so new </a> </li>
      <li> <a href="# "> very popular </a> </li>
      <li>
        <a href="/ ">
          <img src="../assets/img/doggo-logo.jpg " alt="grįžti į pagrindinį puslapį " />
        </a>
      </li>
      <li> <a href="# "> much upload </a> </li>
      <li> <a href="# "> prisijungti </a> </li>
    </ul>
  </div>
  <!--headerio pc pabaiga-->


  <nav class="visible-xs navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Doggo.lt</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li> <a href="# "> so new </a> </li>
          <li> <a href="# "> very popular </a> </li>
          <li> <a href="# "> much upload </a> </li>
          <li> <a href="# "> prisijungti </a> </li>
        </ul>

      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!--pabaiga header-->
</div>

<router-outlet></router-outlet>
