<div class="filters ">
</div>
<!--pabaiga filters-->

<div class="body ">
  <div style="max-width: 40%; margin:0 auto">
    <div id="caption ">
      <p> BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK BARK
      </p>
    </div>
      <img style="width: 100%" id="hero-gallery " src="../../assets/img/main dogo.png " alt="šuo " />
  </div>
</div>
<!--pabaiga fotke su description ir su buttonais-->

<div class="buttons ">
  <a href="# "><img id="bark " src="../../assets/img/Bark-button.jpg " /> </a>
  <a href="# "><img id="wow " src="../../assets/img/wow-button.jpg " /> </a>
</div>
<!--pabaiga mygtukai-->


<div class="fb-img ">
  <p>
    mus rasite
    <a href="# "> <img src="../../assets/img/fb-icon.png " alt="mūsų facebook " style="vertical-align:middle " /></a>
  </p>
</div>
<!--pabaiga row6 mus rasite fb-->
